# Filtering and Sorting Assigment

Q1.Show employees working in either the ‘IT’ or ‘HR’ departments.

Ans: To showing employees working either it IT or HR departments are

    SELECT *
    FROM Employees
    WHERE Department IN ('IT', 'HR');

Q2.Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance’.

Ans:To retrieve employees whose departments are "SALE","IT",or"FINANCE" are

    SELECT *
    FROM Employees
    WHERE Department IN ('Sales', 'IT', 'Finance');

Q3.Display employees whose salary is between ₹50,000 and ₹70,000.

Ans:To showing employees salary is between ₹50,000 and ₹70,000 are

    SELECT *
    FROM Employees
    WHERE Salary BETWEEN 50000 AND 70000;

Q4.List employees whose names start with the letter ‘A’.

Ans:To show employees whose name start with the letter 'A' are

    SELECT *
    FROM Employees
    WHERE EmpName LIKE 'A%';

Q5.Find employees whose names contain the substring ‘an’.

Ans: The employees whose names contain the substring 'an' are

    SELECT *
    FROM Employees
    WHERE EmpName LIKE '%an%';

Q6.Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.

Ans:The employees who are from delhi or mumbai and earn more than rs 55,000 are

    SELECT *
    FROM Employees
    WHERE City IN ('Delhi', 'Mumbai')
    AND Salary > 55000;

Q7.Display all employees except those from the ‘HR’ department.

Ans:To showing all employees except from hr department are

    SELECT *
    FROM Employees
    WHERE Department <> 'HR';

Q8.Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first).

Ans:The all employees hired between 2019 and 2022 ordered by hiredate
(oldest first) are

    SELECT *
    FROM Employees
    WHERE HireDate BETWEEN '2019-01-01' AND '2022-12-31'
    ORDER BY HireDate ASC;